#include "preferences_resource.h"

#include <winres.h>
#include <commctrl.h>

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

IDD_SPATIAL_AUDIO_PREFERENCES DIALOGEX 0, 0, 507, 382
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 400, 0, 1
{
    CONTROL     "", idTabs, "SysTabControl32", TCS_TABS | WS_TABSTOP, 5, 5, 496, 330
    PUSHBUTTON  "Support: Buy me a coffee", idSupportButton, 8, 346, 147, 17
    PUSHBUTTON  "GitHub repo", idRepoButton, 165, 346, 93, 17
    PUSHBUTTON  "Copy profile", idCopyProfileButton, 269, 346, 80, 17
    PUSHBUTTON  "Paste profile", idPasteProfileButton, 360, 346, 80, 17
}

IDD_SPATIAL_AUDIO_PAGE_LAYOUT DIALOGEX 0, 0, 480, 305
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 400, 0, 1
{
    LTEXT       "Output bed", IDC_STATIC, 11, 14, 80, 15
    COMBOBOX    idLayoutMode, 117, 12, 147, 98, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT       "Render rate", IDC_STATIC, 11, 38, 80, 15
    COMBOBOX    idSampleRateMode, 117, 37, 147, 135, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL     "Limiter", idLimiterEnabled, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 11, 63, 80, 15
    LTEXT       "Limiter mode", IDC_STATIC, 117, 63, 73, 15
    COMBOBOX    idLimiterMode, 204, 62, 120, 74, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT       "Limiter ceiling (dB)", IDC_STATIC, 11, 87, 100, 15
    EDITTEXT    idLimiterCeiling, 117, 87, 43, 15, ES_AUTOHSCROLL
    CONTROL     "", idLimiterCeilingSlider, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 168, 86, 200, 17
    PUSHBUTTON  "Probe endpoint", idProbeEndpoint, 11, 117, 100, 17
    EDITTEXT    idEndpointSummary, 11, 143, 453, 114, ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL | WS_TABSTOP
}

IDD_SPATIAL_AUDIO_PAGE_UPMIX DIALOGEX 0, 0, 480, 305
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 400, 0, 1
{
    LTEXT       "Mode", IDC_STATIC, 11, 12, 100, 15
    COMBOBOX    idUpmixMode, 117, 11, 147, 74, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON  "Beginner defaults", idBeginnerDefaultsButton, 275, 11, 100, 17
    LTEXT       "Master gain (dB)", IDC_STATIC, 11, 37, 100, 15
    EDITTEXT    idMasterGain, 117, 37, 43, 15, ES_AUTOHSCROLL
    CONTROL     "", idMasterGainSlider, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 168, 36, 200, 17
    LTEXT       "Headroom (dB)", IDC_STATIC, 11, 57, 100, 15
    EDITTEXT    idHeadroom, 117, 57, 43, 15, ES_AUTOHSCROLL
    CONTROL     "", idHeadroomSlider, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 168, 56, 200, 17
    LTEXT       "Center gain (dB)", IDC_STATIC, 11, 76, 100, 15
    EDITTEXT    idCenterGain, 117, 76, 43, 15, ES_AUTOHSCROLL
    CONTROL     "", idCenterGainSlider, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 168, 75, 200, 17
    LTEXT       "Surround gain (dB)", IDC_STATIC, 11, 96, 100, 15
    EDITTEXT    idSurroundGain, 117, 96, 43, 15, ES_AUTOHSCROLL
    CONTROL     "", idSurroundGainSlider, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 168, 95, 200, 17
    LTEXT       "Rear gain (dB)", IDC_STATIC, 11, 116, 100, 15
    EDITTEXT    idRearGain, 117, 116, 43, 15, ES_AUTOHSCROLL
    CONTROL     "", idRearGainSlider, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 168, 115, 200, 17
    LTEXT       "Height gain (dB)", IDC_STATIC, 11, 135, 100, 15
    EDITTEXT    idHeightGain, 117, 135, 43, 15, ES_AUTOHSCROLL
    CONTROL     "", idHeightGainSlider, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 168, 134, 200, 17
    LTEXT       "Side amount", IDC_STATIC, 11, 155, 100, 15
    EDITTEXT    idSideAmount, 117, 155, 43, 15, ES_AUTOHSCROLL
    CONTROL     "", idSideAmountSlider, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 168, 154, 200, 17
    LTEXT       "Height from mid", IDC_STATIC, 11, 175, 100, 15
    EDITTEXT    idHeightFromMid, 117, 175, 43, 15, ES_AUTOHSCROLL
    CONTROL     "", idHeightFromMidSlider, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 168, 174, 200, 17
    LTEXT       "Decorrelate", IDC_STATIC, 11, 195, 100, 15
    EDITTEXT    idDecorrelation, 117, 195, 43, 15, ES_AUTOHSCROLL
    CONTROL     "", idDecorrelationSlider, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 168, 194, 200, 17
    CONTROL     "Enable LFE extraction", idEnableLfe, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 11, 219, 133, 15
    LTEXT       "LFE gain (dB)", IDC_STATIC, 11, 240, 100, 15
    EDITTEXT    idLfeGain, 117, 240, 43, 15, ES_AUTOHSCROLL
    CONTROL     "", idLfeGainSlider, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 168, 239, 200, 17
    LTEXT       "LFE low-pass (Hz)", IDC_STATIC, 11, 260, 100, 15
    EDITTEXT    idLfeLowpass, 117, 260, 43, 15, ES_AUTOHSCROLL
    CONTROL     "", idLfeLowpassSlider, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 168, 259, 200, 17
}

IDD_SPATIAL_AUDIO_PAGE_CHANNELS DIALOGEX 0, 0, 480, 305
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 400, 0, 1
{
    LTEXT       "Channel", IDC_STATIC, 11, 14, 80, 15
    LTEXT       "Gain", IDC_STATIC, 111, 14, 43, 15
    LTEXT       "Delay ms", IDC_STATIC, 305, 14, 53, 15
    LTEXT       "Inv", IDC_STATIC, 448, 14, 27, 15
    LTEXT       "Front left", IDC_STATIC, 11, 32, 93, 15
    EDITTEXT    idChannelGainEditFrontLeft, 111, 32, 37, 15, ES_AUTOHSCROLL
    CONTROL     "", idChannelGainSliderFrontLeft, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 153, 31, 127, 17
    EDITTEXT    idChannelDelayEditFrontLeft, 305, 32, 37, 15, ES_AUTOHSCROLL
    CONTROL     "", idChannelDelaySliderFrontLeft, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 349, 31, 87, 17
    CONTROL     "", idChannelInvertFrontLeft, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 452, 32, 16, 15
    LTEXT       "Front right", IDC_STATIC, 11, 51, 93, 15
    EDITTEXT    idChannelGainEditFrontRight, 111, 51, 37, 15, ES_AUTOHSCROLL
    CONTROL     "", idChannelGainSliderFrontRight, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 153, 50, 127, 17
    EDITTEXT    idChannelDelayEditFrontRight, 305, 51, 37, 15, ES_AUTOHSCROLL
    CONTROL     "", idChannelDelaySliderFrontRight, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 349, 50, 87, 17
    CONTROL     "", idChannelInvertFrontRight, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 452, 51, 16, 15
    LTEXT       "Front center", IDC_STATIC, 11, 69, 93, 15
    EDITTEXT    idChannelGainEditFrontCenter, 111, 69, 37, 15, ES_AUTOHSCROLL
    CONTROL     "", idChannelGainSliderFrontCenter, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 153, 68, 127, 17
    EDITTEXT    idChannelDelayEditFrontCenter, 305, 69, 37, 15, ES_AUTOHSCROLL
    CONTROL     "", idChannelDelaySliderFrontCenter, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 349, 68, 87, 17
    CONTROL     "", idChannelInvertFrontCenter, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 452, 69, 16, 15
    LTEXT       "LFE", IDC_STATIC, 11, 88, 93, 15
    EDITTEXT    idChannelGainEditLfe, 111, 88, 37, 15, ES_AUTOHSCROLL
    CONTROL     "", idChannelGainSliderLfe, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 153, 87, 127, 17
    EDITTEXT    idChannelDelayEditLfe, 305, 88, 37, 15, ES_AUTOHSCROLL
    CONTROL     "", idChannelDelaySliderLfe, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 349, 87, 87, 17
    CONTROL     "", idChannelInvertLfe, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 452, 88, 16, 15
    LTEXT       "Side left", IDC_STATIC, 11, 106, 93, 15
    EDITTEXT    idChannelGainEditSideLeft, 111, 106, 37, 15, ES_AUTOHSCROLL
    CONTROL     "", idChannelGainSliderSideLeft, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 153, 105, 127, 17
    EDITTEXT    idChannelDelayEditSideLeft, 305, 106, 37, 15, ES_AUTOHSCROLL
    CONTROL     "", idChannelDelaySliderSideLeft, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 349, 105, 87, 17
    CONTROL     "", idChannelInvertSideLeft, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 452, 106, 16, 15
    LTEXT       "Side right", IDC_STATIC, 11, 125, 93, 15
    EDITTEXT    idChannelGainEditSideRight, 111, 125, 37, 15, ES_AUTOHSCROLL
    CONTROL     "", idChannelGainSliderSideRight, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 153, 124, 127, 17
    EDITTEXT    idChannelDelayEditSideRight, 305, 125, 37, 15, ES_AUTOHSCROLL
    CONTROL     "", idChannelDelaySliderSideRight, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 349, 124, 87, 17
    CONTROL     "", idChannelInvertSideRight, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 452, 125, 16, 15
    LTEXT       "Back left", IDC_STATIC, 11, 143, 93, 15
    EDITTEXT    idChannelGainEditBackLeft, 111, 143, 37, 15, ES_AUTOHSCROLL
    CONTROL     "", idChannelGainSliderBackLeft, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 153, 142, 127, 17
    EDITTEXT    idChannelDelayEditBackLeft, 305, 143, 37, 15, ES_AUTOHSCROLL
    CONTROL     "", idChannelDelaySliderBackLeft, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 349, 142, 87, 17
    CONTROL     "", idChannelInvertBackLeft, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 452, 143, 16, 15
    LTEXT       "Back right", IDC_STATIC, 11, 162, 93, 15
    EDITTEXT    idChannelGainEditBackRight, 111, 162, 37, 15, ES_AUTOHSCROLL
    CONTROL     "", idChannelGainSliderBackRight, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 153, 161, 127, 17
    EDITTEXT    idChannelDelayEditBackRight, 305, 162, 37, 15, ES_AUTOHSCROLL
    CONTROL     "", idChannelDelaySliderBackRight, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 349, 161, 87, 17
    CONTROL     "", idChannelInvertBackRight, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 452, 162, 16, 15
    LTEXT       "Top front left", IDC_STATIC, 11, 180, 93, 15
    EDITTEXT    idChannelGainEditTopFrontLeft, 111, 180, 37, 15, ES_AUTOHSCROLL
    CONTROL     "", idChannelGainSliderTopFrontLeft, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 153, 179, 127, 17
    EDITTEXT    idChannelDelayEditTopFrontLeft, 305, 180, 37, 15, ES_AUTOHSCROLL
    CONTROL     "", idChannelDelaySliderTopFrontLeft, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 349, 179, 87, 17
    CONTROL     "", idChannelInvertTopFrontLeft, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 452, 180, 16, 15
    LTEXT       "Top front right", IDC_STATIC, 11, 198, 93, 15
    EDITTEXT    idChannelGainEditTopFrontRight, 111, 198, 37, 15, ES_AUTOHSCROLL
    CONTROL     "", idChannelGainSliderTopFrontRight, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 153, 197, 127, 17
    EDITTEXT    idChannelDelayEditTopFrontRight, 305, 198, 37, 15, ES_AUTOHSCROLL
    CONTROL     "", idChannelDelaySliderTopFrontRight, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 349, 197, 87, 17
    CONTROL     "", idChannelInvertTopFrontRight, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 452, 198, 16, 15
    LTEXT       "Top back left", IDC_STATIC, 11, 217, 93, 15
    EDITTEXT    idChannelGainEditTopBackLeft, 111, 217, 37, 15, ES_AUTOHSCROLL
    CONTROL     "", idChannelGainSliderTopBackLeft, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 153, 216, 127, 17
    EDITTEXT    idChannelDelayEditTopBackLeft, 305, 217, 37, 15, ES_AUTOHSCROLL
    CONTROL     "", idChannelDelaySliderTopBackLeft, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 349, 216, 87, 17
    CONTROL     "", idChannelInvertTopBackLeft, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 452, 217, 16, 15
    LTEXT       "Top back right", IDC_STATIC, 11, 235, 93, 15
    EDITTEXT    idChannelGainEditTopBackRight, 111, 235, 37, 15, ES_AUTOHSCROLL
    CONTROL     "", idChannelGainSliderTopBackRight, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 153, 234, 127, 17
    EDITTEXT    idChannelDelayEditTopBackRight, 305, 235, 37, 15, ES_AUTOHSCROLL
    CONTROL     "", idChannelDelaySliderTopBackRight, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 349, 234, 87, 17
    CONTROL     "", idChannelInvertTopBackRight, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 452, 235, 16, 15
}

IDD_SPATIAL_AUDIO_PAGE_MAPPING DIALOGEX 0, 0, 480, 305
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 400, 0, 1
{
    LTEXT       "5.1 FL", IDC_STATIC, 11, 16, 53, 15
    COMBOBOX    idMap51FrontLeft, 77, 15, 120, 135, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT       "5.1 FR", IDC_STATIC, 239, 16, 53, 15
    COMBOBOX    idMap51FrontRight, 305, 15, 120, 135, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT       "5.1 FC", IDC_STATIC, 11, 41, 53, 15
    COMBOBOX    idMap51FrontCenter, 77, 39, 120, 135, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT       "5.1 LFE", IDC_STATIC, 239, 41, 53, 15
    COMBOBOX    idMap51Lfe, 305, 39, 120, 135, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT       "5.1 SL/BL", IDC_STATIC, 11, 65, 53, 15
    COMBOBOX    idMap51SurroundLeft, 77, 64, 120, 135, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT       "5.1 SR/BR", IDC_STATIC, 239, 65, 53, 15
    COMBOBOX    idMap51SurroundRight, 305, 64, 120, 135, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
}

IDD_SPATIAL_AUDIO_PAGE_TEST DIALOGEX 0, 0, 480, 305
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 400, 0, 1
{
    CONTROL     "Loop test while playing", idTestLoopEnabled, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 11, 14, 127, 15
    CONTROL     "Prefer dynamic object", idTestUseDynamicObject, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 152, 14, 127, 15
    LTEXT       "Direction", IDC_STATIC, 11, 37, 67, 15
    COMBOBOX    idTestTarget, 77, 36, 127, 135, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON  "Run selected", idTestRunSelected, 219, 34, 80, 17
    LTEXT       "Test gain (dB)", IDC_STATIC, 11, 62, 100, 15
    EDITTEXT    idTestGain, 117, 62, 43, 15, ES_AUTOHSCROLL
    CONTROL     "", idTestGainSlider, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 168, 61, 200, 17
    LTEXT       "Frequency (Hz)", IDC_STATIC, 11, 81, 100, 15
    EDITTEXT    idTestFrequency, 117, 81, 43, 15, ES_AUTOHSCROLL
    CONTROL     "", idTestFrequencySlider, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 168, 80, 200, 17
    PUSHBUTTON  "Top FL", idTestButtonTopFrontLeft, 113, 117, 60, 18
    PUSHBUTTON  "Top FR", idTestButtonTopFrontRight, 247, 117, 60, 18
    PUSHBUTTON  "Front L", idTestButtonFrontLeft, 80, 145, 60, 18
    PUSHBUTTON  "Center", idTestButtonFrontCenter, 180, 145, 60, 18
    PUSHBUTTON  "Front R", idTestButtonFrontRight, 280, 145, 60, 18
    PUSHBUTTON  "Side L", idTestButtonSideLeft, 47, 176, 60, 18
    LTEXT       "Listener", IDC_STATIC, 187, 178, 53, 15
    PUSHBUTTON  "Side R", idTestButtonSideRight, 313, 176, 60, 18
    PUSHBUTTON  "Back L", idTestButtonBackLeft, 80, 207, 60, 18
    PUSHBUTTON  "LFE", idTestButtonLfe, 180, 207, 60, 18
    PUSHBUTTON  "Back R", idTestButtonBackRight, 280, 207, 60, 18
    PUSHBUTTON  "Top BL", idTestButtonTopBackLeft, 113, 235, 60, 18
    PUSHBUTTON  "Top BR", idTestButtonTopBackRight, 247, 235, 60, 18
}
