#include "preferences_resource.h"

#include <winres.h>
#include <commctrl.h>

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

IDD_SPATIAL_AUDIO_PREFERENCES DIALOGEX 0, 0, 507, 290
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 400, 0, 1
{
    CONTROL     "", idTabs, "SysTabControl32", TCS_TABS | WS_TABSTOP, 5, 5, 496, 280
}

IDD_SPATIAL_AUDIO_PAGE_LAYOUT DIALOGEX 0, 0, 480, 252
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 400, 0, 1
{
    LTEXT       "Output bed", IDC_STATIC, 11, 12, 95, 13
    COMBOBOX    idLayoutMode, 109, 9, 180, 98, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT       "Render rate", IDC_STATIC, 11, 31, 95, 13
    COMBOBOX    idSampleRateMode, 109, 28, 180, 135, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON  "Probe endpoint", idProbeEndpoint, 11, 50, 110, 15
    LTEXT       "Auto follows DSP; fixed modes do not.", IDC_STATIC, 128, 52, 161, 13
    EDITTEXT    idEndpointSummary, 11, 71, 458, 162, ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL | WS_TABSTOP
}

IDD_SPATIAL_AUDIO_PAGE_TEST DIALOGEX 0, 0, 480, 252
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 400, 0, 1
{
    CONTROL     "Dynamic object", idDirectionalTestDynamic, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 11, 10, 100, 13
    LTEXT       "Direction", IDC_STATIC, 11, 32, 95, 13
    COMBOBOX    idDirectionalTestTarget, 109, 29, 100, 135, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON  "Run selected", idDirectionalTestRunSelected, 215, 29, 70, 15
    LTEXT       "Test gain (dB)", IDC_STATIC, 11, 53, 95, 13
    EDITTEXT    idDirectionalTestGain, 109, 50, 45, 13, ES_AUTOHSCROLL
    LTEXT       "Frequency (Hz)", IDC_STATIC, 11, 74, 95, 13
    EDITTEXT    idDirectionalTestFrequency, 109, 71, 50, 13, ES_AUTOHSCROLL
    PUSHBUTTON  "Top FL", idTestButtonTopFrontLeft, 80, 96, 58, 17
    PUSHBUTTON  "Top FR", idTestButtonTopFrontRight, 142, 96, 58, 17
    PUSHBUTTON  "Front L", idTestButtonFrontLeft, 49, 126, 58, 17
    PUSHBUTTON  "Center", idTestButtonFrontCenter, 111, 126, 58, 17
    PUSHBUTTON  "Front R", idTestButtonFrontRight, 173, 126, 58, 17
    PUSHBUTTON  "Side L", idTestButtonSideLeft, 49, 156, 58, 17
    LTEXT       "Listener", IDC_STATIC, 113, 160, 55, 13
    PUSHBUTTON  "Side R", idTestButtonSideRight, 173, 156, 58, 17
    PUSHBUTTON  "Back L", idTestButtonBackLeft, 49, 186, 58, 17
    PUSHBUTTON  "LFE", idTestButtonLfe, 111, 186, 58, 17
    PUSHBUTTON  "Back R", idTestButtonBackRight, 173, 186, 58, 17
    PUSHBUTTON  "Top BL", idTestButtonTopBackLeft, 80, 216, 58, 17
    PUSHBUTTON  "Top BR", idTestButtonTopBackRight, 142, 216, 58, 17
}

IDD_SPATIAL_AUDIO_PAGE_ABOUT DIALOGEX 0, 0, 480, 252
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 400, 0, 1
{
    LTEXT       "Spatial Audio Output", IDC_STATIC, 11, 9, 250, 13
    LTEXT       "", idAboutVersion, 11, 25, 250, 13
    PUSHBUTTON  "Buy me a coffee", idSupportButton, 11, 44, 110, 14
    PUSHBUTTON  "GitHub repo", idGitHubButton, 125, 44, 110, 14
}
