#include "dsp_preferences_resource.h"

#include <winres.h>
#include <commctrl.h>

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

IDD_DSP_PREFERENCES DIALOGEX 0, 0, 507, 290
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 400, 0, 1
{
    CONTROL     "", idTabs, "SysTabControl32", TCS_TABS | WS_TABSTOP, 5, 5, 496, 280
}

IDD_DSP_PAGE_UPMIX DIALOGEX 0, 0, 480, 305
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 400, 0, 1
{
    LTEXT       "Mode", IDC_STATIC, 11, 11, 95, 13
    COMBOBOX    idUpmixMode, 109, 9, 90, 74, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON  "Beginner defaults", idBeginnerDefaultsButton, 202, 9, 74, 14
    LTEXT       "Master gain (dB)", IDC_STATIC, 11, 30, 95, 13
    EDITTEXT    idMasterGain, 109, 30, 37, 13, ES_AUTOHSCROLL
    CONTROL     "", idMasterGainSlider, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 150, 30, 125, 13
    LTEXT       "Headroom (dB)", IDC_STATIC, 11, 49, 95, 13
    EDITTEXT    idHeadroom, 109, 49, 37, 13, ES_AUTOHSCROLL
    CONTROL     "", idHeadroomSlider, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 150, 49, 125, 13
    LTEXT       "Center gain (dB)", IDC_STATIC, 11, 68, 95, 13
    EDITTEXT    idCenterGain, 109, 68, 37, 13, ES_AUTOHSCROLL
    CONTROL     "", idCenterGainSlider, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 150, 68, 125, 13
    LTEXT       "Surround gain (dB)", IDC_STATIC, 11, 87, 95, 13
    EDITTEXT    idSurroundGain, 109, 87, 37, 13, ES_AUTOHSCROLL
    CONTROL     "", idSurroundGainSlider, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 150, 87, 125, 13
    LTEXT       "Rear gain (dB)", IDC_STATIC, 11, 106, 95, 13
    EDITTEXT    idRearGain, 109, 106, 37, 13, ES_AUTOHSCROLL
    CONTROL     "", idRearGainSlider, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 150, 106, 125, 13
    LTEXT       "Height gain (dB)", IDC_STATIC, 11, 125, 95, 13
    EDITTEXT    idHeightGain, 109, 125, 37, 13, ES_AUTOHSCROLL
    CONTROL     "", idHeightGainSlider, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 150, 125, 125, 13
    LTEXT       "Side amount", IDC_STATIC, 11, 144, 95, 13
    EDITTEXT    idSideAmount, 109, 144, 37, 13, ES_AUTOHSCROLL
    CONTROL     "", idSideAmountSlider, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 150, 144, 125, 13
    LTEXT       "Height from mid", IDC_STATIC, 11, 163, 95, 13
    EDITTEXT    idHeightFromMid, 109, 163, 37, 13, ES_AUTOHSCROLL
    CONTROL     "", idHeightFromMidSlider, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 150, 163, 125, 13
    LTEXT       "Decorrelate", IDC_STATIC, 11, 182, 95, 13
    EDITTEXT    idDecorrelation, 109, 182, 37, 13, ES_AUTOHSCROLL
    CONTROL     "", idDecorrelationSlider, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 150, 182, 125, 13
    PUSHBUTTON  "Copy profile", idCopyProfileButton, 11, 201, 85, 14
    PUSHBUTTON  "Paste profile", idPasteProfileButton, 100, 201, 85, 14
}

IDD_DSP_PAGE_CHANNELS DIALOGEX 0, 0, 480, 305
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 400, 0, 1
{
    LTEXT       "Channel", IDC_STATIC, 11, 9, 72, 13
    LTEXT       "Gain", IDC_STATIC, 86, 9, 76, 13
    LTEXT       "Delay ms", IDC_STATIC, 164, 9, 76, 13
    LTEXT       "Inv", IDC_STATIC, 243, 9, 20, 13
    LTEXT       "Front left", IDC_STATIC, 11, 26, 72, 13
    EDITTEXT    idChannelGainEditFrontLeft, 86, 26, 30, 13, ES_AUTOHSCROLL
    CONTROL     "", idChannelGainSliderFrontLeft, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 118, 26, 44, 13
    EDITTEXT    idChannelDelayEditFrontLeft, 164, 26, 30, 13, ES_AUTOHSCROLL
    CONTROL     "", idChannelDelaySliderFrontLeft, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 196, 26, 44, 13
    CONTROL     "", idChannelInvertFrontLeft, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 243, 26, 14, 13
    LTEXT       "Front right", IDC_STATIC, 11, 43, 72, 13
    EDITTEXT    idChannelGainEditFrontRight, 86, 43, 30, 13, ES_AUTOHSCROLL
    CONTROL     "", idChannelGainSliderFrontRight, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 118, 43, 44, 13
    EDITTEXT    idChannelDelayEditFrontRight, 164, 43, 30, 13, ES_AUTOHSCROLL
    CONTROL     "", idChannelDelaySliderFrontRight, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 196, 43, 44, 13
    CONTROL     "", idChannelInvertFrontRight, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 243, 43, 14, 13
    LTEXT       "Front center", IDC_STATIC, 11, 60, 72, 13
    EDITTEXT    idChannelGainEditFrontCenter, 86, 60, 30, 13, ES_AUTOHSCROLL
    CONTROL     "", idChannelGainSliderFrontCenter, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 118, 60, 44, 13
    EDITTEXT    idChannelDelayEditFrontCenter, 164, 60, 30, 13, ES_AUTOHSCROLL
    CONTROL     "", idChannelDelaySliderFrontCenter, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 196, 60, 44, 13
    CONTROL     "", idChannelInvertFrontCenter, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 243, 60, 14, 13
    LTEXT       "LFE", IDC_STATIC, 11, 77, 72, 13
    EDITTEXT    idChannelGainEditLfe, 86, 77, 30, 13, ES_AUTOHSCROLL
    CONTROL     "", idChannelGainSliderLfe, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 118, 77, 44, 13
    EDITTEXT    idChannelDelayEditLfe, 164, 77, 30, 13, ES_AUTOHSCROLL
    CONTROL     "", idChannelDelaySliderLfe, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 196, 77, 44, 13
    CONTROL     "", idChannelInvertLfe, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 243, 77, 14, 13
    LTEXT       "Side left", IDC_STATIC, 11, 94, 72, 13
    EDITTEXT    idChannelGainEditSideLeft, 86, 94, 30, 13, ES_AUTOHSCROLL
    CONTROL     "", idChannelGainSliderSideLeft, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 118, 94, 44, 13
    EDITTEXT    idChannelDelayEditSideLeft, 164, 94, 30, 13, ES_AUTOHSCROLL
    CONTROL     "", idChannelDelaySliderSideLeft, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 196, 94, 44, 13
    CONTROL     "", idChannelInvertSideLeft, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 243, 94, 14, 13
    LTEXT       "Side right", IDC_STATIC, 11, 111, 72, 13
    EDITTEXT    idChannelGainEditSideRight, 86, 111, 30, 13, ES_AUTOHSCROLL
    CONTROL     "", idChannelGainSliderSideRight, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 118, 111, 44, 13
    EDITTEXT    idChannelDelayEditSideRight, 164, 111, 30, 13, ES_AUTOHSCROLL
    CONTROL     "", idChannelDelaySliderSideRight, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 196, 111, 44, 13
    CONTROL     "", idChannelInvertSideRight, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 243, 111, 14, 13
    LTEXT       "Back left", IDC_STATIC, 11, 128, 72, 13
    EDITTEXT    idChannelGainEditBackLeft, 86, 128, 30, 13, ES_AUTOHSCROLL
    CONTROL     "", idChannelGainSliderBackLeft, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 118, 128, 44, 13
    EDITTEXT    idChannelDelayEditBackLeft, 164, 128, 30, 13, ES_AUTOHSCROLL
    CONTROL     "", idChannelDelaySliderBackLeft, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 196, 128, 44, 13
    CONTROL     "", idChannelInvertBackLeft, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 243, 128, 14, 13
    LTEXT       "Back right", IDC_STATIC, 11, 145, 72, 13
    EDITTEXT    idChannelGainEditBackRight, 86, 145, 30, 13, ES_AUTOHSCROLL
    CONTROL     "", idChannelGainSliderBackRight, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 118, 145, 44, 13
    EDITTEXT    idChannelDelayEditBackRight, 164, 145, 30, 13, ES_AUTOHSCROLL
    CONTROL     "", idChannelDelaySliderBackRight, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 196, 145, 44, 13
    CONTROL     "", idChannelInvertBackRight, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 243, 145, 14, 13
    LTEXT       "Top front left", IDC_STATIC, 11, 162, 72, 13
    EDITTEXT    idChannelGainEditTopFrontLeft, 86, 162, 30, 13, ES_AUTOHSCROLL
    CONTROL     "", idChannelGainSliderTopFrontLeft, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 118, 162, 44, 13
    EDITTEXT    idChannelDelayEditTopFrontLeft, 164, 162, 30, 13, ES_AUTOHSCROLL
    CONTROL     "", idChannelDelaySliderTopFrontLeft, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 196, 162, 44, 13
    CONTROL     "", idChannelInvertTopFrontLeft, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 243, 162, 14, 13
    LTEXT       "Top front right", IDC_STATIC, 11, 179, 72, 13
    EDITTEXT    idChannelGainEditTopFrontRight, 86, 179, 30, 13, ES_AUTOHSCROLL
    CONTROL     "", idChannelGainSliderTopFrontRight, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 118, 179, 44, 13
    EDITTEXT    idChannelDelayEditTopFrontRight, 164, 179, 30, 13, ES_AUTOHSCROLL
    CONTROL     "", idChannelDelaySliderTopFrontRight, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 196, 179, 44, 13
    CONTROL     "", idChannelInvertTopFrontRight, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 243, 179, 14, 13
    LTEXT       "Top back left", IDC_STATIC, 11, 196, 72, 13
    EDITTEXT    idChannelGainEditTopBackLeft, 86, 196, 30, 13, ES_AUTOHSCROLL
    CONTROL     "", idChannelGainSliderTopBackLeft, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 118, 196, 44, 13
    EDITTEXT    idChannelDelayEditTopBackLeft, 164, 196, 30, 13, ES_AUTOHSCROLL
    CONTROL     "", idChannelDelaySliderTopBackLeft, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 196, 196, 44, 13
    CONTROL     "", idChannelInvertTopBackLeft, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 243, 196, 14, 13
    LTEXT       "Top back right", IDC_STATIC, 11, 213, 72, 13
    EDITTEXT    idChannelGainEditTopBackRight, 86, 213, 30, 13, ES_AUTOHSCROLL
    CONTROL     "", idChannelGainSliderTopBackRight, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 118, 213, 44, 13
    EDITTEXT    idChannelDelayEditTopBackRight, 164, 213, 30, 13, ES_AUTOHSCROLL
    CONTROL     "", idChannelDelaySliderTopBackRight, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 196, 213, 44, 13
    CONTROL     "", idChannelInvertTopBackRight, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 243, 213, 14, 13
}

IDD_DSP_PAGE_MAPPING DIALOGEX 0, 0, 480, 305
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 400, 0, 1
{
    LTEXT       "5.1 FL", IDC_STATIC, 11, 11, 70, 13
    COMBOBOX    idMap51FrontLeft, 84, 9, 245, 135, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT       "5.1 FR", IDC_STATIC, 11, 31, 70, 13
    COMBOBOX    idMap51FrontRight, 84, 29, 245, 135, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT       "5.1 FC", IDC_STATIC, 11, 51, 70, 13
    COMBOBOX    idMap51FrontCenter, 84, 49, 245, 135, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT       "5.1 LFE", IDC_STATIC, 11, 71, 70, 13
    COMBOBOX    idMap51Lfe, 84, 69, 245, 135, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT       "5.1 SL/BL", IDC_STATIC, 11, 91, 70, 13
    COMBOBOX    idMap51SurroundLeft, 84, 89, 245, 135, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT       "5.1 SR/BR", IDC_STATIC, 11, 111, 70, 13
    COMBOBOX    idMap51SurroundRight, 84, 109, 245, 135, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
}

IDD_DSP_PAGE_LFE DIALOGEX 0, 0, 480, 305
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 400, 0, 1
{
    CONTROL     "Enable LFE extraction", idEnableLfe, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 11, 11, 130, 13
    LTEXT       "LFE gain (dB)", IDC_STATIC, 11, 30, 95, 13
    EDITTEXT    idLfeGain, 109, 30, 37, 13, ES_AUTOHSCROLL
    CONTROL     "", idLfeGainSlider, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 150, 30, 125, 13
    LTEXT       "LFE low-pass (Hz)", IDC_STATIC, 11, 49, 95, 13
    EDITTEXT    idLfeLowpass, 109, 49, 37, 13, ES_AUTOHSCROLL
    CONTROL     "", idLfeLowpassSlider, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 150, 49, 125, 13
}

IDD_DSP_PAGE_LIMITER DIALOGEX 0, 0, 480, 305
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 400, 0, 1
{
    CONTROL     "Limiter", idLimiterEnabled, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 11, 11, 55, 13
    LTEXT       "Limiter mode", IDC_STATIC, 70, 11, 65, 13
    COMBOBOX    idLimiterMode, 138, 9, 138, 74, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT       "Limiter ceiling (dB)", IDC_STATIC, 11, 30, 95, 13
    EDITTEXT    idLimiterCeiling, 109, 30, 37, 13, ES_AUTOHSCROLL
    CONTROL     "", idLimiterCeilingSlider, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ | TBS_NOTICKS, 150, 30, 125, 13
}

IDD_DSP_PAGE_ABOUT DIALOGEX 0, 0, 480, 305
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 400, 0, 1
{
    LTEXT       "Spatial Audio for Home Theater DSP", IDC_STATIC, 11, 9, 250, 13
    LTEXT       "", idAboutVersion, 11, 25, 250, 13
    PUSHBUTTON  "Buy me a coffee", idSupportButton, 11, 44, 110, 14
    PUSHBUTTON  "GitHub repo", idRepoButton, 125, 44, 110, 14
}

IDD_DSP_CONFIG_POPUP DIALOGEX 0, 0, 330, 78
STYLE DS_MODALFRAME | DS_SHELLFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Spatial Audio for Home Theater DSP"
FONT 8, "MS Shell Dlg", 400, 0, 1
{
    LTEXT       "Edit settings in Preferences > Playback > DSP Manager > Spatial Audio for Home Theater DSP.", IDC_STATIC, 10, 10, 310, 22
    LTEXT       "This popup is informational only. The Preferences page is the single source of settings used during playback.", IDC_STATIC, 10, 34, 310, 22
    DEFPUSHBUTTON "OK", IDOK, 247, 58, 75, 14
}
